.Play {

    position: absolute;
    top: 77%;
    left: 56%;
    text-decoration: none;
}
.Play::after {
    position: absolute;
    top: 77%;
    left: 56%;
    content: '';
    width: 100%;
}
.Play:hover {
    cursor: pointer;
    color: rgb(228, 211, 211);
    transform:scale(1.3, 1.3);
    position: absolute;
}
.Instructions {
    text-decoration: none;
    position: absolute;
    top: 82%;
    left: 56%;
}

.Instructions::after {
    position: absolute;
    top: 77%;
    left: 56%;
    content: '';
    width: 100%;
}
.Instructions:hover {
    cursor: pointer;
    color: rgb(228, 211, 211);
    transform:scale(1.3, 1.3);
    position: absolute;
}
.Options {
    text-decoration: none;
    position: absolute;
    top: 87%;
    left: 56%;
}
.Options::after {
    position: absolute;
    top: 77%;
    left: 56%;
    content: '';
    width: 100%;
}
.Options:hover {
    cursor: pointer;
    color: rgb(228, 211, 211);
    transform:scale(1.3, 1.3);
    position: absolute;
}

.Credits {
    text-decoration: none;
    position: absolute;
    top: 92%;
    left: 56%;
}
.Credits::after {
    position: absolute;
    top: 77%;
    left: 56%;
    content: '';
    width: 100%;
}
.Credits:hover {
    cursor: pointer;
    color: rgb(228, 211, 211);
    transform:scale(1.3, 1.3);
    position: absolute;
}

a { 
    color: white; 
} 